<!DOCTYPE html>
<html>
<head>
    <title>FastAPI HTML Example</title>
</head>
<body>
    <h1>Authorization page</h1>
    
    <!-- Форма для логина и пароля-->
    
    <label for="username">Username: </label>
    <input id="username" name="username"></input>
    <br>
    <br>
    <label for="password">Password: </label>
    <input id="password" type="password" name="password"></input>
    <br>
    <br>
    <label for="email">Password: </label>
    <input id="email" type="email" name="email"></input>
    <br>
    <br>
    <label for="age">Password: </label>
    <input id="age" name="age"></input>
    <br>
    <br>
    <label for="photo">Выберите фотографию:</label>
    <input type="file" id="photo" name="photo" accept="image/*">
    <input type="submit" value="Submit">
    

</body>
</html>